@import url("../fonts/gilroy/stylesheet.css");

html,
body {
  margin: 0 auto;
  height: 100%;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.line-item {
  display: block;
}

.slider-buttons {
  display: none;
}

.sim-slider-arrow-left {
  display: none;
}

.sim-slider-arrow-right {
  display: none;
}

.sim-slider-dots {
  display: none;
}

.menu-btn {
  display: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main-info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1100px;
}

.header {
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 140px;
  margin-bottom: 19px;
}

.header__logo {
  background-image: url("../img/header_logo.svg");
  height: 56px;
  width: 237px;
}

.header__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-telegram {
  background-image: url("../img/header_telegram.svg");
  height: 32px;
  width: 40px;
}

.header-mail {
  background-image: url("../img/header_mail.svg");
  height: 27px;
  width: 40px;
  position: relative;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.phone-text {
  padding: 0 0 0 30px;
}

.header__phone::before {
  content: "";
  position: absolute;
  background-image: url("../img/header_phone.svg");
  height: 32px;
  width: 18px;
}

.header__item {
  text-decoration: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1E959B;
}

.header__button:hover {
  background-color: indianred;
  color: black;
}

.header__button {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 23px 40px;
  background: #F05670;
  border-radius: 15px;
  letter-spacing: 3;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
  gap: 110px;
}

.it__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 74px;
  margin-left: 11px;
}

h1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1E959B;
  margin-bottom: 16px;
}

.text-it {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3C3C3C;
}

.it__photo {
  margin-right: 50px;
  margin-bottom: 50px;
}

.it-button {
  -webkit-box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  padding: 25px 36px;
}

.blue__line {
  background: #1E959B;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 120px;
}

.line__container {
  margin: 0 auto;
}

.line__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 59px;
}

.line__container {
  max-width: 1167px;
}

.inter__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 49px;
}

.inter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 21px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F7F9FD));
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
  box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
  border-radius: 25px;
  width: 195px;
  height: 164px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.inter-block:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F7F9FD));
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  -webkit-box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
  box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
  border-radius: 25px;
}

.inter-block h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}

.section-inter {
  margin-bottom: 33px;
  max-width: 1167px;
}

.main-int {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: 0px;
  margin-bottom: 65px;
}

.it__text div {
  max-width: 371px;
}

h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1E959B;
  margin-bottom: 29px;
}

.button__inter {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.inter__text {
  gap: 53px;
}

.it-btc {
  max-width: 305px;
}

.it-btc span {
  font-weight: 700;
}

.text-int {
  margin-left: 59px;
  margin-right: 38px;
  margin-top: 27px;
}

.product__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px;
}

.section__product {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 46px;
}

.item__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 65px;
}

.product-block {
  width: 320px;
  height: 320px;
}

.product-text {
  text-align: center;
}

.item__text {
  margin-bottom: 5px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #1E959B;
}

.item__text-down {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: start;
  margin: 0px 35px;
}

.product-button {
  -webkit-box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #1E959B;
  background-color: #FFFFFF;
  border: 0.5px solid #1E959B;
  padding: 25px 63px;
  margin-top: 15px;
}

.line-item1 {
  margin-bottom: 230px;
}

.section__banner {
  position: relative;
  background-image: url(../img/banner.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  margin-bottom: 238px;
}

.banner__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 79px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 28px;
  max-width: 1132px;
}

h5 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  color: #F05670;
}

h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1E959B;
}

.banner__photo {
  margin-right: -24px;
}

.line__item-blue {
  position: relative;
  background: #1E959B;
  background-size: auto 154px;
  height: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 50px;
}

.line__container {
  max-width: 1310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 50px;
}

.item__block {
  width: 289px;
  height: 305px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F7F9FD));
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  -webkit-box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block__button {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 23px 66px;
}

.blue__img {
  background: #1E959B;
  border-radius: 50%;
  padding: 39px;
  margin-top: -39px;
}

h6 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1E959B;
  margin: 19px 0px 27px;
}

.line-item {
  margin-bottom: 232px;
}

.text-block3 {
  margin: 7px 0px 14px;
}

.img-1 {
  padding: 39px 38px 38px 39px;
}

.img-2 {
  padding: 39px 32px 39px 43px;
}

.img-3 {
  padding: 39px 38px 29px 33px;
}

.img-4 {
  padding: 28px 33px 38px 39px;
}

.img-5 {
  padding: 39px 38px 38px 39px;
}

.img-6 {
  padding: 23px 39px 36px 29px;
}

.img-7 {
  padding: 39px 38px 38px 39px;
}

.img-8 {
  padding: 29px 42px 32px 29px;
}

.text-block4 {
  margin: 24px 0px 28px;
}

.text-block6 {
  margin: 28px 0px 28px;
}

.text-block8 {
  margin: 28px 0px 28px;
}

.line-item2 {
  margin-bottom: 200px;
}

.photo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 740px;
  gap: 106px;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 84px;
}

.photo__container img {
  margin-left: -31px;
}

.photo-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 30px;
  padding: 37px 56.5px 32px 57px;
}

.footer {
  height: 232px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F7F9FD)), #C4C4C4;
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%), #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1242px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 42px;
}

.text__down,
.text__up {
  font-weight: 400;
  line-height: 19px;
}

.text__down {
  margin-top: 22px;
}

.icon__text-down {
  margin-top: 22px;
}

.item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.icon__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 27px;
}

.footer__icon {
  background: -webkit-gradient(linear, right top, left top, from(#1E959B), to(#AFDEDE));
  background: linear-gradient(270deg, #1E959B 0%, #AFDEDE 100%);
  -webkit-box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  padding: 14px 19.5px 15px 20px;
  margin-bottom: 20px;
}

.icon-text {
  width: 290px;
  height: 136px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footer-mail {
  margin-left: 32px;
}

.last__text {
  margin-top: 5px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(60, 60, 60, 0.5);
}

.line-item3 {
  display: none;
}

.item__product-adaptive {
  display: none;
}

@media (max-width: 1317.89px) {
  [class*=__container] {
    max-width: 1023.95px;
  }

  .line__container {
    gap: 9px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .line__item {
    gap: 25px;
  }

  .inter__block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .inter__adap {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 27.33%;
    flex: 0 1 27.33%;
  }

  .section__container {
    gap: 40px;
  }

  .main-int {
    gap: 0px;
  }

  .text-int {
    margin-left: 40px;
    margin-right: 0px;
    margin-top: 27px;
  }

  .footer__item {
    gap: 20px;
  }

  .header__logo {
    margin-left: -83px;
  }

  .icon-text {
    width: 241px;
    font-size: 10px;
    line-height: 16px;
  }

  .section__product {
    margin-bottom: 90px;
    gap: 60px;
  }
}

@media (max-width: 1240.89px) {
  [class*=__container] {
    max-width: 950px;
  }

  .section__container {
    gap: 10px;
  }

  .it__text {
    margin-left: 0px;
  }

  .main-int {
    gap: 0px;
  }

  .line-item2 {
    margin-bottom: 232px;
  }

  .line-item {
    margin-bottom: 150px;
  }

  .item__block4,
  .item__block8 {
    display: none;
  }

  .line-item3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .line__container {
    gap: 41px;
  }

  .line__item-blue {
    width: 100%;
  }

  .main-int {
    margin-bottom: 0px;
  }

  .blue__line {
    margin-bottom: 70px;
  }

  .section__product {
    margin-bottom: 90px;
    gap: 60px;
  }

  .line-item1 {
    margin-bottom: 232px;
  }

  .item__icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }

  .footer-mail {
    margin-left: 0px;
  }
}

@media (max-width: 1158.89px) {
  [class*=__container] {
    max-width: 860px;
  }

  .img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 450px;
    height: 400px;
  }

  .photo2 {
    -o-object-fit: cover;
    object-fit: cover;
    width: 450px;
    height: 400px;
  }

  .section__container {
    gap: 55px;
  }

  .main-int {
    gap: 0px;
  }

  .item__product {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .product-block3,
  .product-block6 {
    display: none;
  }

  .item__product-adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .section__product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .product-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1240.89px) {
  [class*=__container] {
    max-width: 750px;
  }

  .header__feedback {
    gap: 30px;
  }

  .img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 400px;
    height: 350px;
  }

  .photo2 {
    -o-object-fit: cover;
    object-fit: cover;
    width: 430px;
    height: 380px;
  }

  .it__text {
    gap: 22px;
  }

  .it__photo {
    margin-right: 45px;
    margin-bottom: 0px;
  }

  .banner__container {
    gap: 10px;
  }

  .photo3 {
    -o-object-fit: cover;
    object-fit: cover;
    width: 360px;
    height: 300px;
  }

  .img__circle {
    -o-object-fit: cover;
    object-fit: cover;
    width: 70px;
    height: 70px;
  }

  h6 {
    font-size: 22px;
  }

  .item__block {
    width: 223px;
    height: 285px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .block__button {
    padding: 18px 50px;
  }

  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-5,
  .img-6,
  .img-7,
  .img-8 {
    padding: 30px 30px 30px 30px;
  }

  .line__item-blue {
    height: 130px;
  }

  .item__icon-text {
    display: none;
  }

  .icon__text {
    gap: 5px;
  }

  .footer__item {
    gap: 10px;
  }
}

@media (max-width: 1090.89px) {
  [class*=__container] {
    max-width: 650px;
  }

  .header__feedback {
    gap: 15px;
  }

  .header__button {
    padding: 18px 31px;
  }

  .section__container {
    gap: 10px;
  }

  .it__photo {
    margin-right: 10px;
    margin-bottom: 25px;
  }

  .line__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .blue__line {
    min-height: 163px;
  }

  h3 {
    font-size: 25px;
    line-height: 25px;
  }

  .it-button {
    text-align: center;
    padding: 7px 45px;
  }

  h2 {
    font-size: 31px;
    line-height: 33px;
  }

  .photo-button {
    font-size: 21px;
    padding: 10px 30px;
  }

  .icon-text {
    display: none;
  }

  .footer__item {
    gap: 50px;
  }
}

@media (max-width: 768.89px) {
  [class*=__container] {
    max-width: 540px;
  }

  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #222222;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }

  .menu__btn {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .menu__btn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
    background: #F7F9FD;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }

  .menu__btn.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .menu__btn div {
    list-style-type: none;
  }

  .header {
    padding: 20px 0px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 400px;
    background-color: #F7F9FD;
  }

  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }

  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(-45deg);
    transform: translate(-50%, 0%) rotate(-45deg);
  }

  .header__logo {
    display: none;
  }

  .header__logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("../img/header_logo.svg");
    height: 56px;
    width: 237px;
  }

  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 92px;
    margin-bottom: 0px;
  }

  .sim-slider-arrow-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .sim-slider-arrow-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .sim-slider-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .line__container {
    display: block;
  }

  .line__item {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .sim-slider {
    max-width: 800px;
    min-width: 450px;
    margin: 20px auto;
    padding: 30px 50px;
    background-color: #1E959B;
  }

  /* General styles */
  .sim-slider {
    position: relative;
  }

  .sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
  }

  .sim-slider-element {
    width: 100%;
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  /* Navigation item styles */
  div.sim-slider-arrow-left,
  div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
  }

  div.sim-slider-arrow-left {
    left: 10px;
    top: 30%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
  }

  div.sim-slider-arrow-right {
    right: 10px;
    top: 30%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
  }

  div.sim-slider-arrow-left:hover {
    opacity: 1;
  }

  div.sim-slider-arrow-right:hover {
    opacity: 1;
  }

  div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -10px;
    z-index: 3;
    text-align: center;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #1E959B;
    border-radius: 5px;
    cursor: pointer;
  }

  .line__item {
    min-height: 45px;
  }

  .blue__line {
    min-height: 141px;
  }

  .photo2 {
    -o-object-fit: cover;
    object-fit: cover;
    width: 337px;
    height: 308px;
  }

  .line__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  h2 {
    font-size: 16px;
    line-height: 23px;
  }

  .header__logo2 {
    width: 254px;
  }

  .footer__item {
    gap: 21px;
  }

  .footer__text {
    text-align: start;
  }

  .header__item {
    font-size: 13px;
  }

  .footer__icon {
    margin-bottom: 0px;
  }

  .slider-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .slider-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .slider-item {
    min-width: 200px;
  }

  .item__line {
    margin-bottom: 0px;
  }

  .slider-track {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .item__line {
    min-width: 100%;
  }

  .line-item {
    margin-bottom: 232px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .line-item3 {
    display: none;
  }

  .item__block4,
  .item__block8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .text-block3,
  .text-block4,
  .text-block6,
  .text-block8 {
    margin: 0px 0px;
  }

  .item__block {
    width: 223px;
    height: 285px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .slider-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .slider-buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .line-item {
    margin-bottom: 110px;
  }

  .img__circle {
    width: 50px;
    height: 50px;
  }

  h6 {
    margin: 0px 0px;
  }

  .item__block {
    width: 239px;
    height: 240px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .block__button {
    margin: 0px 10px;
  }

  h6 {
    font-size: 18px;
  }

  .block__button {
    padding: 10px 31px;
  }

  .block__button-1 {
    margin-bottom: -9px;
  }

  .slider-buttons {
    gap: 90px;
  }

  .btn-prev,
  .btn-next {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #F05670;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #F05670;
  }

  .line-item {
    margin-bottom: 76px;
  }

  .slider-container {
    margin-bottom: 40px;
  }

  button,
  button:active,
  button:focus {
    outline: none;
    text-decoration: none;
  }

  .inter__adap {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25.33%;
    flex: 0 1 25.33%;
  }

  .photo__container {
    gap: 60px;
  }

  .photo-button {
    font-size: 14px;
    padding: 10px 19px;
  }

  .main-int {
    gap: 6px;
  }

  .header__feedback {
    position: absolute;
    left: 180px;
  }

  .menu__btn {
    width: 44%;
    height: 6%;
  }

  .header__logo2 {
    background-repeat: no-repeat;
  }
}

@media (max-width: 425.89px) {
  [class*=__container] {
    max-width: 240.95px;
  }

  .header {
    margin: 0 15px;
    max-width: 370.95px;
    gap: 103px;
    margin: auto;
    background-color: #FFFFFF;
    padding: 20px 0px 64px;
  }

  .menu__btn {
    width: 44%;
    height: 6%;
  }

  .phone-text {
    display: none;
  }

  .header__button {
    padding: 8px 3px;
  }

  .header__phone::before {
    display: none;
    margin-left: -8px;
  }

  .header-mail {
    margin: 0 5px;
  }

  .menu-btn {
    display: none;
  }

  .header__logo2 {
    background-repeat: no-repeat;
  }

  h1 {
    text-align: center;
  }

  .it__text {
    position: relative;
    z-index: 2;
  }

  .it__photo {
    display: none;
  }

  .section__it {
    background-image: url(../img/it-photo2.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 100% 100%;
    margin-top: 150px;
    background-position-x: -26px;
  }

  .text-button {
    margin-bottom: 40px;
  }

  .text-it {
    margin-top: -165px;
  }

  .it__text {
    gap: 150px;
  }

  .text-button {
    margin: auto;
  }

  .it-button {
    padding: 18px 25px;
  }

  .sim-slider {
    min-width: 300px;
  }

  .inter__block {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .section-inter {
    display: none;
  }

  .blue__line {
    margin-bottom: 160px;
  }

  .it__text {
    gap: 30px;
  }

  h3 {
    text-align: center;
  }

  .product-block1,
  .product-block2,
  .product-block3 {
    display: none;
  }

  .item__product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .inter-block {
    gap: 10px;
  }

  .product__info {
    gap: 0px;
  }

  .section__banner {
    display: none;
  }

  .slider-container {
    display: none;
  }

  .photo__container {
    gap: 0px;
  }

  .photo__container {
    display: flex;
    flex-direction: column;
  }

  .footer__logo {
    display: none;
  }

  .menu__btn {
    width: 44%;
    height: 20%;
  }
}